.heading-container {
  color: white;
  background-color: cornflowerblue;
}
#heading {
  text-align: center;
}

#search-heading {
  margin-left: 25px;
}

.search-box {
  margin-left: 22px;
}

.search-btn {
  margin-top: 10px;
}

.current-weather-display {
  border-style: solid;
  border-color: black;
  height: 200px;
}

.previous-search {
  background-color: darkgrey;
  width: 20%;
}

.previous-search-heading {
  text-align: right;
}
