.heading-container {
  color: white;
  background: linear-gradient(to right, #52baff 0%, #001cb8 100%);
}
#heading {
  text-align: center;
}

#search-heading {
  margin-left: 25px;
}

#search-box {
  margin-left: 22px;
}

.search-btn {
  margin-top: 10px;
}

.current-weather-display {
  border-style: solid;
  border-color: black;
  height: 200px;
}

.list-group {
  list-style: none;
}

.previous-search {
  background-color: darkgrey;
  width: 20%;
}

.previous-search-heading {
  text-align: right;
}

.future-days-container {
  background-color: black;
  height: 100px;
}
